<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/head.ejs') %>
    <!-- CSS -->
    <link rel="stylesheet" href="/css/contact.css">
    <title> <%= title %> </title>
</head>
<body>
    <!-- el '-' antes de include se usa para utilizar código -->
    <%- include('./partials/navigation.ejs') %>

    <form action="/email" method="post">
        <input type="text" id="name" name="name">
        <input type="text" id="subject" name="subject">
        <input type="text" id="message" name="message">
        <input type="text" id="mail" name="mail">
        
        <input type="submit" value="Submit">
    </form>

    <%- include('./partials/footer.ejs') %>
</body>
</html>