<link rel="stylesheet" href="/css/footer.css">
<footer class="bg-dark text-center 4">
    <h1>Footer</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Nulla molestiae mollitia maiores sunt itaque tenetur at ipsa eaque,
        accusamus repudiandae facere fugiat perferendis tempore praesentium
        asperiores repellat distinctio repellendus dolore?
    </p>
</footer>